.config
basesettings.py
django_entrypoint.sh
letsencrypt.log
nginx.external.conf
nginx.internal.conf
django.dockerfile
docker-compose.yml
certbot-auto
uwsgi.ini
certbot.log
pip-selfcheck.json
settings.py
db/
project/
static/
bin/
include/
lib/
local/
share/
