HOST_NAME = "{{hostname}}"
DB_NAME = "{{dbname}}"
DB_USER = "{{dbuser}}"
DB_PASSWORD = "{{dbpassword}}"
DEVELOPMENT = {{development}}
TEMPLATES_DIRS = ["/project/{{projectname}}/{{projectname}}/templates", ]
DJANGO_SECRET_KEY = "{{secretkey}}"
