version: '2'
services:
  db:
    image: mariadb:latest
    volumes:
      - "./db:/var/lib/mysql"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{dbrootpassword}}
      MYSQL_DATABASE: {{dbname}}
      MYSQL_USER: {{dbuser}}
      MYSQL_PASSWORD: {{dbpassword}}

  django:
    depends_on:
      - db
    build:
      context: .
      dockerfile: django.dockerfile
    entrypoint: uwsgi --ini /project/{{projectname}}/{{projectname}}/uwsgi.ini
    volumes:
      - ./project:/project
      - ./static:/static
#      - ./django_entrypoint.sh:/project/django_entrypoint.sh
      - ./uwsgi.ini:/project/{{projectname}}/{{projectname}}/uwsgi.ini
      - ./basesettings.py:/project/{{projectname}}/{{projectname}}/basesettings.py
    restart: always

  web:
    depends_on:
      - django
    image: nginx:latest
    ports:
      - "127.0.0.1:{{port}}:80"
    volumes:
      - ./static:/var/www/static
      - ./nginx.internal.conf:/etc/nginx/conf.d/default.conf
    restart: always
