mkdir /tmp/backup_{{ projectname }} -p
docker-compose run --rm --name {{ projectname }}_db_backup db bash -c 'pg_dump --dbname=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@db:5432/$POSTGRES_NAME > /var/lib/postgresql/dump.sql'
cp db/dump.sql /tmp/backup_{{ projectname }}/
cp static /tmp/backup_{{ projectname }}/ -R
cp media /tmp/backup_{{ projectname }}/ -R
cp .config /tmp/backup_{{ projectname }}/
cd /tmp/backup_{{ projectname }}
git init
git remote add origin {{ backuprepository }}
git add .
git commit -am "backup {{ projectname }}"
git push origin master --force
cd /
rm -Rf /tmp/backup_{{ projectname }}
