HOST_NAME = "{{hostname}}"
DB_NAME = "{{dbname}}"
DB_USER = "{{dbuser}}"
DB_PASSWORD = "{{dbpassword}}"
DEVELOPMENT = {{development}}
HTTPS = "{{ certificatespath }}"
MAX_UPLOAD = {{ uploadlimit }}*1024*1024
DJANGO_SECRET_KEY = "{{secretkey}}"
DJANGO_ROOT_URL = '{{ projectname }}.urls'
DJANGO_WSGI_APPLICATION = '{{ projectname }}.wsgi.application'
DJANGO_ASGI_APPLICATION = '{{ projectname }}.routing.application'
PROJECT_DIR = '{{ projectname }}'
SMTP_USER = '{{ smtpuser }}'
SMTP_PASSWORD = '{{ smtppassword }}'
SMTP_HOST = '{{ smtphost }}'
