HOST_NAMES = {{hostnames}}
DB_NAME = "{{dbname}}"
DB_USER = "{{dbuser}}"
DB_PASSWORD = "{{dbpassword}}"
DEVELOPMENT = {{development}}
HTTPS = "{{ certificatespath }}"
MAX_UPLOAD = {{ uploadlimit }}*1024*1024
DJANGO_SECRET_KEY = "{{secretkey}}"
DJANGO_ROOT_URL = '{{ projectname }}.urls'
DJANGO_WSGI_APPLICATION = '{{ projectname }}.wsgi.application'
DJANGO_ASGI_APPLICATION = '{{ projectname }}.routing.application'
OVH_APPLICATION_KEY = '{{ ovhkey }}'
OVH_APPLICATION_SECRET = '{{ ovhsecret }}'
OVH_CONSUMER_KEY = '{{ ovhconsumerkey }}'
PUBLIC_IP = '{{ publicip }}'
HOST_API_KEY = '{{ hostapikey }}'
PROJECT_PATH = '{{ projectpath }}'
