#!/bin/bash
cd {{ projectpath }}
mkdir /tmp/backup_{{ projectname }} -p
docker-compose run --rm --name {{ projectname }}_db_backup db bash -c 'PGPASSWORD=$POSTGRES_PASSWORD PGDATABASE=$POSTGRES_NAME PGHOST=db PGPORT=5432 PGUSER=$POSTGRES_USER pg_dump > /var/lib/postgresql/data/dump.sql'

cd /tmp/backup_{{ projectname }}
git init
git remote add origin {{ backuprepository }}
git pull --no-edit origin master 
rm -Rf /tmp/backup_{{ projectname }}/project
cd {{ projectpath }}
cp db/dump.sql /tmp/backup_{{ projectname }}/
{% for backupfolder in backupfolders %}
    cp --parents {{ backupfolder }} /tmp/backup_{{ projectname }}/ -R
{% endfor %}
cp .config /tmp/backup_{{ projectname }}/
cd /tmp/backup_{{ projectname }}
{% for backupignore in backupignores %}
    {% if loop.first %}
        echo {{backupignore}} > .gitignore
    {% else %}
        echo {{backupignore}} >> .gitignore
    {% endif %}
{% endfor %}
git add . --all
git commit -am "backup {{ projectname }}"
git push origin master
cd /
rm -Rf /tmp/backup_{{ projectname }}
