FROM python:{{ pythonversion }}
{% if libraries %}RUN apt update && apt install -y {{ libraries|join(' ') }}{%endif%}
{% if gis %}RUN apt update && apt install -y  binutils libproj-dev gdal-bin{% endif %}
RUN mkdir -p /project
COPY requirements.txt /project/requirements.txt
RUN pip install -r /project/requirements.txt
{% if development %}
COPY requirements.dev.txt /project/requirements.dev.txt
RUN pip install -r /project/requirements.dev.txt
RUN mkdir /project/.vscode
{% endif %}
COPY django.entrypoint.*.sh /project/
RUN chmod u+x /project/django.entrypoint.*sh
WORKDIR /project/{{projectname}}
EXPOSE 8000
