#!/bin/bash
if [ -f /project/{{projectname}}/entrypoint_hook.sh ]; then
    /project/{{projectname}}/entrypoint_hook.sh
fi &&\
{% if async %}
  {% if development %}
    exec /project/bin/uvicorn {{projectname}}.asgi:application --reload --reload-dir /project/{{projectname}} --host 0.0.0.0 --log-level debug
  {% else %}
    exec /project/bin/uvicorn {{projectname}}.asgi:application --host 0.0.0.0 --workers 8
  {% endif %}
{% else %}
  exec /project/bin/uwsgi --ini /project/uwsgi.ini
{% endif %}
