#!/bin/bash
{% if development %}
  exec uvicorn {{projectname}}.asgi:application --reload --reload-dir /project/{{projectname}} --host 0.0.0.0 --log-level debug
{% else %}
  exec uvicorn {{projectname}}.asgi:application --host 0.0.0.0  --workers {{ scale }}
{% endif %}
