#!/bin/bash
pip3 install virtualenv
virtualenv /project &&\
. /project/bin/activate &&\
pip install psycopg2 "Django{{djangoversion}}" uwsgi django-material django_compressor lesscpy django-allauth Pillow "sorl-thumbnail>=12.4a1" python3-memcached django-easy-maps &&\
{% if development %}
pip install django-debug-toolbar ipdb &&\
{% endif %}
cd /project/{{projectname}}/ &&\
chown www-data:www-data /var/www/static -R
python manage.py collectstatic --noinput &&\
chown www-data:www-data /var/www/static/ -R &&\
chown www-data:www-data /var/www/media/ -R &&\
python manage.py makemigrations &&\
python manage.py migrate &&\
exec uwsgi --ini /project/uwsgi.ini
