services:

  db:
    build:
      context: ./config
      dockerfile: postgres.dockerfile
    image: postgres:{{projectname}}
    sysctls:
      net.core.somaxconn: 1024
    ulimits:
      nofile:
        soft: 2048
        hard: 4096
    command: postgres -c max_connections=250 -c shared_buffers=75MB
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./config/postgres.conf:/etc/postgresql/postgresql.conf
    restart: always
    environment:
      POSTGRES_DB: {{dbname}}
      POSTGRES_USER: {{dbuser}}
      POSTGRES_PASSWORD: {{dbpassword}}

  wsgi: &django
    sysctls:
      - net.core.somaxconn=1024
    depends_on:
      - db
      - redis
    build:
      context: ./config
      dockerfile: django.dockerfile
    ports:
      - "127.0.0.1:{{portinternal}}-{{portinternal + scale - 1}}:8000"
    image: python:{{projectname}}
    command: /project/django.entrypoint.wsgi.sh
    working_dir: /project/{{projectname}}
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
        DJANGO_SETTINGS_MODULE: {{projectname}}.settings
    volumes:
      - ./project/{{projectname}}:/project/{{projectname}}
      - ./www/static:/var/www/static
      - ./www/media:/var/www/media
      - ./config/basesettings.py:/project/{{projectname}}/{{projectname}}/basesettings.py
      - ./config/uwsgi.ini:/project/uwsgi.ini
{% if development %}
      - ./vscode/server-extensions:/root/.vscode-server/extensions
      - ./vscode/server-insiders-extensions:/root/.vscode-server-insiders/extensions
      - ./config/vscode.settings.json:/project/.vscode/settings.json
    stdin_open: true
    tty: true
{% endif %}

{% if spooler %}
  spooler:
    <<: *django
    ports: []
    volumes:
      - ./project/{{projectname}}:/project/{{projectname}}
      - ./www/static:/var/www/static
      - ./www/media:/var/www/media
      - ./config/basesettings.py:/project/{{projectname}}/{{projectname}}/basesettings.py
      - ./config/uwsgi.spooler.ini:/project/uwsgi.ini
{% endif %}

{% if async %}
  asgi: 
    <<: *django
    ports:
      - "127.0.0.1:{{portinternal + scale }}:8000"
    command: /project/django.entrypoint.asgi.sh
{% endif %}

  redis:
    image: redis
    sysctls:
      net.core.somaxconn: 1024
    ulimits:
      nofile:
        soft: 2048
        hard: 4096
    restart: always
    entrypoint: redis-server --appendonly yes
    volumes:
      - ./redis:/data
