version: '2'
services:
  db:
    build:
      context: .
      dockerfile: config/postgres.dockerfile
    image: postgres:{{projectname}}
    volumes:
      - ./db:/var/lib/postgresql/data
    restart: always
    environment:
      POSTGRES_DB: {{dbname}}
      POSTGRES_USER: {{dbuser}}
      POSTGRES_PASSWORD: {{dbpassword}}

  memcached:
    image: memcached:latest
    mem_limit: 256m
    command: memcached -m 256m
    restart: always

  django:
    depends_on:
      - db
      - memcached
    build:
      context: .
      dockerfile: config/django.dockerfile
    image: python:{{projectname}}
    command: /project/django.entrypoint.sh
    environment:
        DJANGO_SETTINGS_MODULE: {{projectname}}.settings
    volumes:
      - ./project/backend:/project/django
      - ./django_static:/var/www/static
      - ./django_media:/var/www/media
      - ./config/basesettings.py:/project/django/{{projectname}}/basesettings.py
    restart: always
{% if development %}
    stdin_open: true
    tty: true
{% endif %}

{% if react %}
  react:
    depends_on:
      - django
    build:
      context: .
      dockerfile: config/react.dockerfile
    image: react:{{projectname}}
    working_dir: /app
    command: /app/react.entrypoint.sh
    volumes:
      - ./project/frontend:/app
{% endif %}

  web:
    image: nginx:latest
    ports:
      - "127.0.0.1:{{port}}:80"
    volumes:
      {% if react %}
      - ./project/frontend/build:/var/www/react
      - ./django_static:/var/www/api/static
      - ./django_media:/var/www/api/media
      {% else %}
      - ./django_static:/var/www/static
      - ./django_media:/var/www/media
      {% endif %}
      - ./config/nginx.internal.conf:/etc/nginx/conf.d/default.conf
    restart: always
