version: '2'
services:
  db:
    build:
      context: .
      dockerfile: config/postgres.dockerfile
    image: postgres:{{projectname}}
    volumes:
      - ./db:/var/lib/postgresql
    restart: always
    environment:
      POSTGRES_DB: {{dbname}}
      POSTGRES_USER: {{dbuser}}
      POSTGRES_PASSWORD: {{dbpassword}}

  memcached:
    image: memcached:latest
    mem_limit: 256m
    command: memcached -m 256m

  django:
    depends_on:
      - db
      - memcached
    build:
      context: .
      dockerfile: config/django.dockerfile
    image: python:{{projectname}}
    command: /project/django.entrypoint.sh
    environment:
        DJANGO_SETTINGS_MODULE: {{projectname}}.settings
    volumes:
      - ./project/{{projectname}}:/project/{{projectname}}
      - ./static:/var/www/static
      - ./media:/var/www/media
      - ./output:/var/log
      - ./config/basesettings.py:/project/{{projectname}}/{{projectname}}/basesettings.py
    restart: always
{% if development %}
    stdin_open: true
    tty: true
{% endif %}

  web:
    depends_on:
      - django
    image: nginx:latest
    ports:
      - "127.0.0.1:{{port}}:80"
    volumes:
      - ./static:/var/www/static
      - ./media:/var/www/media
      - ./config/nginx.internal.conf:/etc/nginx/conf.d/default.conf
    restart: always
