node: collectstatic
	docker-compose run --rm --name {{projectname}}_manage_nodeinstall -w /var/www/static/src spooler npm install

clone:
	sudo rm -Rf project
	mkdir -p project/{{ projectname }}
	cd project/{{ projectname }}; git clone {{ gitrepository }} .
	git config pull.rebase true

mkdirs:
	mkdir -p config/domains
	{% if spooler %}
	[ -d project/{{ projectname }}/{{ projectname }}/spooler ] || mkdir -p project/{{ projectname }}/{{ projectname }}/spooler
	[ -d project/{{ projectname }}/{{ projectname }}/tmp ] || mkdir -p project/{{ projectname }}/{{ projectname }}/tmp
	{% endif %}

createbranch:
	echo "Branch {{ gitbranch }} does not exists, creating it"
	cd project/{{ projectname }};\
        git branch {{ gitbranch }} ;\
	if [ "{{ projectname }}" != "wishtobethere" ]; then \
	  mv .git .. ;\
	  mv wishtobethere {{ projectname }} ;\
	  grep -rl wishtobethere . | xargs sed -i 's/wishtobethere/{{ projectname }}/g' ;\
	  mv ../.git . ;\
	fi\

checkoutbranch:
	echo "Branch {{ gitbranch }} exists, checking it out" ; \
	cd project/{{ projectname }}; \
	git checkout {{ gitbranch }} -- ; \
	git branch --set-upstream-to=origin/{{ gitbranch }} {{ gitbranch }}; \
	git pull \

createsite:
	{% for hostname in hostnames %}
	docker-compose run --rm --name {{projectname}}_manage_createsite -w /project/{{ projectname}} spooler python manage.py createsite --domain={{ hostname }} -v 3
	{% endfor %}

precommit: 
	cd project/{{ projectname }}; ../../bin/pre-commit install

init: down clone createbranch precommit checkoutbranch mkdirs up node chown messages migrate createsite reorder superuser theme certs

install: down clone checkoutbranch up node chown messages migrate createsite reorder theme

scale:
	docker-compose up -d --scale wsgi={{ scale }}

build:
	docker-compose build --no-cache wsgi
	{% if async %}docker-compose build asgi{% endif %}
	{% if spooler %}docker-compose build spooler{% endif %}

up: scale

down:
	docker-compose down

recreate: down up

rebuild: chown build up

reload:
	touch project/{{ projectname }}/{{ projectname }}/settings.py
	docker-compose exec redis redis-cli -n 1 FLUSHDB
	{% if async and not development %}docker-compose restart asgi{% endif%}
	{% if spooler and not development %}docker-compose restart spooler{% endif%}

chown:
	sudo chown -R www-data:www-data www
	[ -d project/{{ projectname }}/layout/static/src/scss/sites ] && sudo chown -R www-data:www-data project/{{ projectname }}/layout/static/src/scss/sites/
	{% if development %}
	sudo chown -R `id -un` project -R
	{% else %}
	{% if spooler %}
	sudo chown www-data:www-data project/{{ projectname }}/{{ projectname }}/spooler
	sudo chown www-data:www-data project/{{ projectname }}/{{ projectname }}/tmp
	{% endif %}
	{% endif %}

migrations: makemigrations chown

makemigrations:
	docker-compose exec wsgi python manage.py makemigrations

migrate:
	docker-compose exec wsgi python manage.py migrate

messages:
	{% if development %}
	docker-compose exec wsgi python manage.py  makeallmessages -a -i node_modules
	{% endif %}
	docker-compose exec wsgi python manage.py compilemessages

themeold:
	cd project/{{ projectname }}/layout; npm install
	cd project/{{ projectname }}/layout; npm run build
	docker-compose exec wsgi python manage.py collectstatic --noinput

collectstatic:
	docker-compose exec wsgi python manage.py collectstatic --noinput

restart:
	{% for s in range(scale) %}
	docker restart {{ projectname }}_wsgi_{{ s+1 }}
	sleep 3
	{% endfor %}

{% if development %}

attach:
	docker attach {{ projectname }}_wsgi_1

certs:
	mkdir -p local_certs
	openssl req -newkey rsa:2048 -new -nodes -x509 -days 3650 -keyout local_certs/privkey.pem -out local_certs/fullchain.pem

theme: chown
	{% for hostname in hostnames %}
	docker-compose run --rm --name {{projectname}}_manage_themedev -w  /var/www/static/src spooler uwsgi --ini /project/uwsgi.ini --py manage.py --pyargv="compilethemes --command=dev --domain={{ hostname }} -v 3"
	{% endfor %}

themedevelop:
	docker-compose run --rm --name {{projectname}}_manage_themewatch -w /var/www/static/src spooler uwsgi --ini /project/uwsgi.ini --py manage.py --pyargv="compilethemes --command=watch --domain={{ hostnames[0] }} -v 3"

update: pull migrate messages theme reorder
{% else %}
certs:
	certbot certonly --nginx {% for hostname in hostnames %}-d {{ hostname }} -d www.{{ hostname }} {% endfor %}

theme: node chown
	{% for hostname in hostnames %}
	docker-compose run --rm --name {{projectname}}_manage_themebuild -w /var/www/static/src spooler uwsgi --ini /project/uwsgi.ini --py manage.py --pyargv="compilethemes --command=build --domain={{ hostname }} -v 3"
	{% endfor %}

update: pull migrate messages theme chown reload
{% endif %}

pull:
	cd project/{{ projectname }}; git pull

logs:
	docker-compose logs -f --timestamp --tail=100

reorder:
	docker-compose exec wsgi python manage.py reorderall

tests:
	docker-compose exec wsgi python manage.py test {{ projectname }} --settings={{ projectname }}.tests.settings

superuser:
	docker-compose exec wsgi python manage.py createsuperuser

status:
	docker-compose ps -a
