server {
    listen 80;
    server_name default_server;
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
    client_max_body_size {{ uploadlimit }}m;
    root /var/www;

{% if react %}
    location ~ ^/api/(static|media)/ {
{% else %}
    location ~ ^/(static|media)/ {
{% endif %}
        location ~ \.mp4$$ {
            mp4;
            expires 15d;
        }
        location ~ \.(m4s|ts|jpg|jpeg|png|gif|ico|css|js|eot|otf|ttf|woff|woff2)$$ {
            expires 15d;
        }
    }

    # Finally, send all non-media requests to the Django server.
{% if react %}
    location /api {
{% else %}
    location / {
{% endif %}
        uwsgi_pass django:8000;
        include uwsgi_params;
        {% if certificatespath %}
#            uwsgi_param HTTPS $env_https;
        {% endif %}
    }

{% if react %}
    location / {
    {% if development %}
       proxy_pass http://react:3000;
       proxy_http_version 1.1;
       proxy_set_header Upgrade $http_upgrade;
       proxy_set_header Connection "upgrade";
    {% else %}
       try_files $uri $uri/ $uri/index.html /index.html;
       root /var/www/react;
       expires 15d;
    {% endif %}
    }
{% endif %}
}

