upstream wsgi_upstream {
  {% for s in range(scale) %}
    server {{projectname}}_wsgi_{{ s+1 }}:8000;
  {% endfor %}
}
upstream asgi_upstream {
    server {{projectname}}_asgi_1:8000;
}

server {
    listen 80;
    server_name localhost;
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
    client_max_body_size {{ uploadlimit }}m;
    root /var/www/;
    
{% if not development %}
    location ~ ^/(static|media)/ {
        location ~ \.mp4$$ {
            mp4;
            expires 15d;
        }
        location ~ \.(m4s|ts|jpg|jpeg|png|gif|ico|css|js|unityweb)$$ {
            expires 15d;
        }
    }

{% endif %}

    location / {
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        include uwsgi_params;
        uwsgi_pass wsgi_upstream;
    }

    {% if async %}
    location /ws/ {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_redirect off;
        proxy_pass http://asgi_upstream;
    }
    {% endif %}
}
