{% set escaped_hostname = hostname | replace(".","\.") %}
{% set slugified_hostname = hostname | replace(".","_") %}
upstream wsgi_upstream_{{ slugified_hostname }} {
  {% for s in range(scale) %}
    server 127.0.0.1:{{ portinternal + s }};
  {% endfor %}
  least_conn;
}
{% if async %}
upstream asgi_upstream_{{ slugified_hostname }} {
    server 127.0.0.1:{{ portinternal + scale }};
}
{% endif %}

{% if certificatespath %}
server {
    listen {{portexternalssl}} ssl;
    server_name ~^www\.(?<domain>([\w\-]+\.)?{{ escaped_hostname }})$;
    ssl_certificate {{ certificatespath }}/fullchain.pem;
    ssl_certificate_key {{ certificatespath }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    return 301 https://$domain$request_uri;
}
server {
    listen {{portexternal}};
    server_name ~^(?<domain>([\w\-]+\.)?{{ escaped_hostname }})$;
    return 301 https://$domain$request_uri;
}
{% endif %}
server {
    listen {{portexternal}};
    server_name ~^www\.(?<domain>([\w\-]+\.)?{{ escaped_hostname }})$;
    return 301 http://$domain$request_uri;
}

server {
    server_name ~^([\w\-]+\.)?{{ escaped_hostname }}$;
    access_log /var/log/nginx/{{ hostname }}.access.log;
    error_log /var/log/nginx/{{ hostname }}.error.log;
    include snippets/gzip.conf;
    {% if certificatespath %}
    listen {{portexternalssl}} ssl;
    ssl_certificate {{ certificatespath }}/fullchain.pem;
    ssl_certificate_key {{ certificatespath }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    {% else %}
    listen {{ portexternal}};
    {% endif %}
    add_header Content-Security-Policy "{{ contentsecuritypolicy }}";
    root {{projectpath}}/www/;
    client_max_body_size {{ uploadlimit }}M;
    location / {
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        include uwsgi_params;
        uwsgi_pass wsgi_upstream_{{ slugified_hostname }};

    }

    {% if async %}
    location /ws/ {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        proxy_redirect off;
        proxy_pass http://asgi_upstream_{{ slugified_hostname }};
    }
    {% endif %}

    location ~ ^/(static|media)/ {
        location ~ ^/static/src/ {
            deny all;
            return 404;
        }
        location ~ \.mp4$$ {
            mp4;
            expires 15d;
        }
        {% if not development%}
        location ~ \.(m4s|ts|jpg|jpeg|png|gif|ico|css|js|unityweb)$$ {
            expires 15d;
        }
        {% endif %}
    }
}
