[uwsgi]
# path to where you put your project code
chdir=/project/{{projectname}}
virtualenv = /project/
# python path to the wsgi module, check if you have one
module={{projectname}}.wsgi:application
{% if not development %}
uid=www-data
gid=www-data
{% endif %}
# this switch tells uwsgi to spawn a master process,
# that will dynamically spawn new child processes for
# server requests
master = true
workers = 4
mules = 0
mule-harakiri = 600
# uwsgi stores the pid of your master process here
pidfile=/project/uwsgi.pid
vacuum=true
# this is where you need to point nginx to,
# if you chose to put this in project home make
# sure the home dir is readable and executable by
# nginx
socket=:8000
reload-on-exception=true
{% if development %}
py-autoreload = 2
touch-reload = /project/{{ projectname }}/{{ projectname }}/settings.py
honour-stdin=true
{% else %}
harakiri=30
{% endif %}
