[uwsgi]
# path to where you put your project code
chdir=/project/{{projectname}}
import = {{projectname}}.spooler
# python path to the wsgi module, check if you have one
module={{projectname}}.wsgi:application
strict = true
master = true
vacuum = true                        ; Delete sockets during shutdown
single-interpreter = true

buffer-size=8192
#disable-logging = true               ; Disable built-in logging 
#log-4xx = true                       ; but log 4xx's anyway
#log-5xx = true                       ; and 5xx's

processes = 0
listen = 0                           ; queue size

spooler = /project/{{projectname}}/{{projectname}}/spooler
spooler-max-tasks = 1
spooler-processes = 1
spooler-frequency = 2
spooler-ordered = true

{% if development %}
reload-on-exception = true
py-autoreload = 2
{% else %}
die-on-term = true                   ; Shutdown when receiving SIGTERM (default is respawn)
need-app = true
{% endif %}

