[uwsgi]
# path to where you put your project code
chdir=/project/{{projectname}}
# python path to the wsgi module, check if you have one
module={{projectname}}.wsgi:application
socket=:8000
# this switch tells uwsgi to spawn a master process,
# that will dynamically spawn new child processes for
# server requests
strict = true
master = true
vacuum = true                        ; Delete sockets during shutdown
single-interpreter = true

buffer-size=8192

processes = 1

{% if spooler %}
spooler-external = /project/{{projectname}}/{{projectname}}/spooler
{% endif %}
touch-reload=/project/{{ projectname }}/{{ projectname }}/settings.py
{% if development %}
reload-on-exception = true
py-autoreload = 2
honour-stdin = true
{% else %}
disable-logging = true               ; Disable built-in logging 
log-4xx = true                       ; but log 4xx's anyway
log-5xx = true                       ; and 5xx's
worker-reload-mercy = 60             ; How long to wait before forcefully killing workers
reload-on-rss = 2048                 ; Restart workers after this much resident memory
max-requests = 10000                 ; Restart workers after this many requests
max-worker-lifetime = 3600           ; Restart workers after this many seconds
harakiri = 60                        ; forcefully kill workers after 60 seconds
uid=www-data
gid=www-data
die-on-term = true                   ; Shutdown when receiving SIGTERM (default is respawn)
need-app = true
{% endif %}

