{
    "files.exclude": {
        "**/*.py[co]": true,
        "**/*.so": true,
        "**/__pycache__": true
    },
    "search.exclude": {
        "**/node_modules": true,
        "**/bower_components": true,
        "**/*.code-search": true
    },
    "editor.formatOnSave": true,
    "editor.defaultFormatter": "ms-python.black-formatter",
    "python.defaultInterpreterPath": "/usr/local/bin/python",
    "python.analysis.extraPaths": ["{{ projectname }}"],
    "[python]": {
        "editor.codeActionsOnSave": {
            "source.organizeImports": true,
        },
    },
    "pylint.importStrategy": "fromEnvironment",
    "pylint.args": ["--rcfile", "/project/{{ projectname }}/.pylintrc"],
    "isort.importStrategy": "fromEnvironment",
    "isort.args": ["--settings-path", "/project/{{ projectname }}/.isort.cfg"],
    "flake8.importStrategy": "fromEnvironment",
    "flake8.args": ["--config=/project/{{ projectname }}/.flake8.cfg"],
    "black-formatter.importStrategy": "fromEnvironment",
    "black-formatter.args": ["--config", "/project/{{ projectname }}/.black.cfg"]
}
